:root {
  --color-primary: #6366F1;       /* Indigo */
  --color-secondary: #14B8A6;     /* Teal */
  --color-accent: #F59E0B;        /* Amber */

  --color-bg: #f5f5f5;            /* Light Gray background */
  --color-surface: #FFFFFF;       /* Cards, containers */
  --color-muted: #D1D5DB;         /* Borders, lines */

  --color-text: #111827;          /* Main text */
  --color-text-light: #FFFFFF;    /* Text on dark backgrounds */
}


.home-initial-cont{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;

}


.home-initial-cont{
  flex-grow: 1;
  background-color: var(--color-bg);

}




.home-category-section-main-one{
  position: relative;
  /* background-color: pink; */
}


.home-category-section{
  display: flex;
  align-items: center;


  padding: 20px 40px;
  margin-top: 0px;
  overflow-x: scroll;
  scrollbar-width: none;

}



.every-category-list-element{
  display: flex;
  flex-direction: column;
    background-color: #ffffff;

  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
  border-radius: 20px;

  
}
.right-arrow-topics{
  position: absolute;
  font-size: 10px;

  background-color: rgb(171, 222, 231);
  height: 60px;
  border-bottom-left-radius: 10px; 
  border-top-left-radius: 10px;
  padding: 5px;
  right: 0;
  top: 30%;

  cursor: pointer;
  transition:top 0.3s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out, height 0.3s ease-in-out;
}


.home-category-section-main-one:hover .right-arrow-topics{
  font-size: 12px;
  padding: 7px;  top: 27%;
  height: 70px;
}

.left-arrow-topics{
  position: absolute;
  font-size: 10px;
  background-color: rgb(171, 222, 231);
  height: 60px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  left: 0;
  top: 30%;
  cursor: pointer;
  transition:top 0.3s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out, height 0.3s ease-in-out;
}

.home-category-section-main-one:hover .left-arrow-topics{
  font-size: 12px;
  padding: 7px;
  height: 70px;
  top: 27%;
}



.every-category-list-element:hover{
  background-color: #ffffff;
}
.every-category-list-element img{
  height: 100px;
  width: 140px;
  background-color: #ffffff;
  border-radius: 10px;
  
}
.every-category-list-element h1{
  font-size: 14px;
  margin: 0px;
  color:#14B8A6;
  margin-top: 10px;
  font-weight: 500;
}

.home-bottom-main-cont{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: pink; */

  
}

.triagle-cont{
  margin: 20px;

}



.home-bottom-left-cont{
  width: 25%;
  margin-top: 10px;
  height: 500px;
  border-radius: 10px;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
}



.home-bottom-middle-cont{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.home-bottom-middle-items{
  height: 150px;
  width: 100%;
  border-radius: 10px;
margin: 10px 0px;
  background-color: white;
}

.home-bottom-right-cont{
  width: 20%;

  display: flex;
  flex-direction: column;

}

.home-bottom-right-items{
  height: 300px;
margin-top: 10px;
border-radius: 10px;

  background-color: white;
}

.home-left-max-sale-cont{
  display: flex;
  align-items: center;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}
@keyframes bumper {
  0%, 100%,30%, 40%,60%,80%,90% {
    transform: translateY(0);
  }
  20%{
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-6px);
  }

  70%{
    transform: translateY(-2px);
  }
  
}


.home-left-max-sale-cont h1{
  font-size: 22px;
  border-radius: 4px;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 4px 20px;
  /* animation: bumper 0.6s ease-out infinite; */

}

.desc-for-max-sale{
  width: 100%;
  color: #ffecec;
  margin: 10px;
  
}

.desc-for-max-sale span{
  background-color: white;
  color: rgb(255, 0, 0);
  padding: 0px 8px;
  font-weight: 500;
  border-radius: 2px;
  
}

.small-content-max-sale{
  width: 150px;
  height: 180px;
  border-radius: 4px;
  background-color: white;
  margin: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-content-max-sale{
  background-image: conic-gradient(from 0deg,red, rgb(255, 169, 169) 20%, rgb(192, 48, 48),rgb(133, 0, 0));
  align-self: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 2px;
  animation: rotate 2s linear infinite;
  position: relative;
  height: 20px;
  width: 20px;

}

.button-content {
  width: 90%;
  height: 90%;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1;
  position: relative;
}


.button-max-sale{
  position: relative;
  background-color: transparent;
  border: 1px solid rgb(255, 0, 0);
  background-color: red;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;

  font-weight: 500;
  cursor: pointer;

}



.sale-name-max-sale{
  color:#ffffff;
  margin: 20px 10px;
  font-size: 20px;
}

.sale-name-max-sale span{
  font-size: 24px;
  background-color: white;
  color:rgb(255, 0, 0);
  padding: 0px 8px;
  border-radius: 2px;
}

.sale-image-max-sale{
  width: 100%;
  background-size:cover;
  height: 100%;
}

.trending-items{
  font-size: 16px;
  font-weight: 500;
  color: #111827;
  /* background-image: linear-gradient(to right, #f1ff55, #ffffff); */
  padding: 10px;

  border-top-left-radius: 10px;
  margin: 0px;

}