/* Prevent any horizontal scroll and hide scrollbars */
body{
  margin-top: max(80px ,12vh);
}

html, body {

  padding: 0;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
